In [1]:
import pandas as pd
voteshare=pd.read_csv('https://raw.githubusercontent.com/KevWebb/DS-Unit-2-Regression-1/master/VotingShare.csv')
voteshare

,Unnamed: 0,Year,Incumbent Party Candidate,Other Candidate,Incumbent Party Vote Share,Average Recent Growth in Personal Incomes,US Military Fatalities per Million
0,0,1952,Stevenson,Eisenhower,44.60,2.40,190
1,1,1956,Eisenhower,Stevenson,57.76,2.89,0
2,2,1960,Nixon,Kennedy,49.91,0.85,0
3,3,1964,Johnson,Goldwater,61.34,4.21,1
4,4,1968,Humphrey,Nixon,49.60,3.02,146
5,5,1972,Nixon,McGovern,61.79,3.62,0
6,6,1976,Ford,Carter,48.95,1.08,2
7,7,1980,Carter,Reagan,44.70,-0.39,0
8,8,1984,Reagan,Mondale,59.17,3.86,0
9,9,1988,"Bush, Sr.",Dukakis,53.94,2.27,0
10,10,1992,"Bush, Sr.",Clinton,46.55,0.38,0
11,11,1996,Clinton,Dole,54.74,1.04,0
12,12,2000,Gore,"Bush, Jr.",50.27,2.36,0
13,13,2004,"Bush, Jr.",Kerry,51.24,1.72,4
14,14,2008,McCain,Obama,46.32,0.10,14
15,15,2012,Obama,Romney,52.00,0.95,5
16,16,2016,Clinton,Trump,48.20,0.10,5

In [2]:
unrate = pd.read_csv('C:/Users/Kevona Jean/Desktop/DS4 Notebooks/Unit 2 Sprint 1 Regression/unrate.csv')
unrate['DATE'] = pd.to_datetime(unrate['DATE'])
unrate.index = unrate['DATE']
unrate.head()

                 DATE    UNRATE
DATE
1948-01-01 1948-01-01  3.750000
1949-01-01 1949-01-01  6.050000
1950-01-01 1950-01-01  5.208333
1951-01-01 1951-01-01  3.283333
1952-01-01 1952-01-01  3.025000

In [3]:
unrate['Year'] = unrate['DATE'].apply(lambda x: x.year)
unrate.head()

                 DATE    UNRATE  Year
DATE
1948-01-01 1948-01-01  3.750000  1948
1949-01-01 1949-01-01  6.050000  1949
1950-01-01 1950-01-01  5.208333  1950
1951-01-01 1951-01-01  3.283333  1951
1952-01-01 1952-01-01  3.025000  1952

In [4]:
unrate.describe()

          UNRATE         Year
count  69.000000    69.000000
mean    5.810628  1982.000000
std     1.608657    20.062403
min     2.925000  1948.000000
25%     4.741667  1965.000000
50%     5.591667  1982.000000
75%     6.850000  1999.000000
max     9.708333  2016.000000

In [5]:
df = pd.merge(voteshare, unrate, on='Year')
df.drop(columns= ['Unnamed: 0', 'DATE'], inplace=True)
df

,Year,Incumbent Party Candidate,Other Candidate,Incumbent Party Vote Share,Average Recent Growth in Personal Incomes,US Military Fatalities per Million,UNRATE
0,1952,Stevenson,Eisenhower,44.60,2.40,190,3.025000
1,1956,Eisenhower,Stevenson,57.76,2.89,0,4.125000
2,1960,Nixon,Kennedy,49.91,0.85,0,5.541667
3,1964,Johnson,Goldwater,61.34,4.21,1,5.158333
4,1968,Humphrey,Nixon,49.60,3.02,146,3.558333
5,1972,Nixon,McGovern,61.79,3.62,0,5.600000
6,1976,Ford,Carter,48.95,1.08,2,7.700000
7,1980,Carter,Reagan,44.70,-0.39,0,7.175000
8,1984,Reagan,Mondale,59.17,3.86,0,7.508333
9,1988,"Bush, Sr.",Dukakis,53.94,2.27,0,5.491667
10,1992,"Bush, Sr.",Clinton,46.55,0.38,0,7.491667
11,1996,Clinton,Dole,54.74,1.04,0,5.408333
12,2000,Gore,"Bush, Jr.",50.27,2.36,0,3.966667
13,2004,"Bush, Jr.",Kerry,51.24,1.72,4,5.541667
14,2008,McCain,Obama,46.32,0.10,14,5.800000
15,2012,Obama,Romney,52.00,0.95,5,8.075000
16,2016,Clinton,Trump,48.20,0.10,5,4.875000

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
model = LinearRegression()

features = ['UNRATE', 'Average Recent Growth in Personal Incomes']
target = 'Incumbent Party Vote Share'
X = df[features]
y= df[target]

In [8]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
y_pred= model.predict(X)

In [10]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y, y_pred)

2.4452547618305047

In [11]:
df['Linear Regression, Unrate'] = y_pred
df['Error'] = y_pred - df[target]
df['Absolute Error'] = df['Error'].abs()
df

,Year,Incumbent Party Candidate,Other Candidate,Incumbent Party Vote Share,Average Recent Growth in Personal Incomes,US Military Fatalities per Million,UNRATE,"Linear Regression, Unrate",Error,Absolute Error
0,1952,Stevenson,Eisenhower,44.60,2.40,190,3.025000,50.813431,6.213431,6.213431
1,1956,Eisenhower,Stevenson,57.76,2.89,0,4.125000,53.792233,-3.967767,3.967767
2,1960,Nixon,Kennedy,49.91,0.85,0,5.541667,48.472671,-1.437329,1.437329
3,1964,Johnson,Goldwater,61.34,4.21,1,5.158333,59.537384,-1.802616,1.802616
4,1968,Humphrey,Nixon,49.60,3.02,146,3.558333,53.568578,3.968578,3.968578
5,1972,Nixon,McGovern,61.79,3.62,0,5.600000,58.036611,-3.753389,3.753389
6,1976,Ford,Carter,48.95,1.08,2,7.700000,51.810204,2.860204,2.860204
7,1980,Carter,Reagan,44.70,-0.39,0,7.175000,46.151258,1.451258,1.451258
8,1984,Reagan,Mondale,59.17,3.86,0,7.508333,61.113156,1.943156,1.943156
9,1988,"Bush, Sr.",Dukakis,53.94,2.27,0,5.491667,53.281114,-0.658886,0.658886
10,1992,"Bush, Sr.",Clinton,46.55,0.38,0,7.491667,49.164679,2.614679,2.614679
11,1996,Clinton,Dole,54.74,1.04,0,5.408333,48.966480,-5.773520,5.773520
12,2000,Gore,"Bush, Jr.",50.27,2.36,0,3.966667,51.788490,1.518490,1.518490
13,2004,"Bush, Jr.",Kerry,51.24,1.72,4,5.541667,51.454869,0.214869,0.214869
14,2008,McCain,Obama,46.32,0.10,14,5.800000,46.206920,-0.113080,0.113080
15,2012,Obama,Romney,52.00,0.95,5,8.075000,51.807489,-0.192511,0.192511
16,2016,Clinton,Trump,48.20,0.10,5,4.875000,45.114433,-3.085567,3.085567

Test Train Split

In [12]:
train = df.query('Year < 2008')
test = df.query('Year >=2008')
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((14, 2), (14,), (3, 2), (3,))

In [13]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
y_pred = model.predict(X_test)
y_pred

array([45.32358862, 51.61581511, 44.06947631])

In [15]:
y_test

14    46.32
15    52.00
16    48.20
Name: Incumbent Party Vote Share, dtype: float64

In [16]:
mean_absolute_error(y_test, y_pred)

1.837039986051484

Leave-One-Out Cross-Validation

In [17]:
from sklearn.linear_model import LinearRegression
print('Leave-One-Out Cross-Validation, Do-It-Yourself implemnetation')

maes =[]

for year in df['Year']: 
    print(f'Fit Linear Regression on all years except {year}')
    
    #Choose model hyperparmeters by instantiating this class
    model = LinearRegression()
    
    #Arrange data into X features matrix and y target 
    train = df[df['Year'] !=year]
    test = df[df['Year'] == year]
    X_train = train[features]
    y_train = train[target]
    X_test = test[features]
    y_test = test[target]
    
    #Fit the model to your data by calling
    model.fit(X_train, y_train)
    
    #Apply the model to new data: predict labels for unknown data using predict() method
    y_pred = model.predict(X_test)
    
    mae= mean_absolute_error(y_test, y_pred)
    maes.append(mae)
    print(f'Absolute Error on prediction for {year} = {mae}')

Leave-One-Out Cross-Validation, Do-It-Yourself implemnetation
Fit Linear Regression on all years except 1952
Absolute Error on prediction for 1952 = 8.279263110776334
Fit Linear Regression on all years except 1956
Absolute Error on prediction for 1956 = 4.583521173760964
Fit Linear Regression on all years except 1960
Absolute Error on prediction for 1960 = 1.585116795355745
Fit Linear Regression on all years except 1964
Absolute Error on prediction for 1964 = 2.39116966084125
Fit Linear Regression on all years except 1968
Absolute Error on prediction for 1968 = 4.886323937391715
Fit Linear Regression on all years except 1972
Absolute Error on prediction for 1972 = 4.55403180943307
Fit Linear Regression on all years except 1976
Absolute Error on prediction for 1976 = 3.460818631450735
Fit Linear Regression on all years except 1980
Absolute Error on prediction for 1980 = 1.8635133351872213
Fit Linear Regression on all years except 1984
Absolute Error on prediction for 1984 = 3.305571114161957
Fit Linear Regression on all years except 1988
Absolute Error on prediction for 1988 = 0.7053970528864681
Fit Linear Regression on all years except 1992
Absolute Error on prediction for 1992 = 3.163925345516347
Fit Linear Regression on all years except 1996
Absolute Error on prediction for 1996 = 6.310891920992766
Fit Linear Regression on all years except 2000
Absolute Error on prediction for 2000 = 1.757689094697561
Fit Linear Regression on all years except 2004
Absolute Error on prediction for 2004 = 0.22847692304976874
Fit Linear Regression on all years except 2008
Absolute Error on prediction for 2008 = 0.13388228873606778
Fit Linear Regression on all years except 2012
Absolute Error on prediction for 2012 = 0.24660237999172097
Fit Linear Regression on all years except 2016
Absolute Error on prediction for 2016 = 3.9115396063217247

In [18]:
#Leave-One-Out Cross-Validation Mean Absolute Error
pd.Series(maes).mean()

3.0216314223853775